<div id="about-content">
    <mat-card appearance="outlined" id="content-card">
        <mat-card-content id="content">
            <h1 id="title">About Me</h1>
            <p>
                Hello! I'm Evan.
            </p>
            <p>
                I was born and raised in Grand Rapids, Michigan and I recently moved to Littleton, Colorado.
            <br>
                I'm currently working for <a href="https://www.crowe.com/">Crowe</a> as a Product Engineer II.
            </p>
            <p>
                I graduated from Michigan State University in 2022 with a Bachelor of Science in Computer Science and Engineering and a minor in Entrepreneurship and Innovation.
            </p>
            <p>
                During my time at MSU, I was a proud member of the Spartan Marching Band's trumpet section, placing as high as fifth chair out of 60.
            <br>
                I've played trumpet for over 10 years, peformed for over a <a href="https://youtu.be/T8aoHdcA9p8?si=R00_DdecOHIjNKth">hundred thousand people</a> across seven states and <a href="https://youtu.be/481vEzfUyYA?si=YcsIiraE8zBoz-X8">three countries!</a>
            </p>
            <p>
                Recently, I've been expanding my musical skills by learning guitar. I love listening to vinyl and my favorite guitarist is Cory Wong.
            </p>
            <p>
                Outside of work and music, I love staying active. You can often find me hiking mountains, cycling around town, or enjoying a round of golf.
            </p>
            <p>
                I'm always looking for new challenges and opportunities to grow as a developer, musician, and person. Feel free to connect with me!
            </p>
        </mat-card-content>
    </mat-card>
</div>