<div id="about-content">
    <mat-card appearance="outlined" id="content-card">
        <mat-card-content id="content">
            <h1 id="title">About Me</h1>
            <p>
                Hello! I'm Evan - a software engineer, musician, and golfer based in Denver.
            </p>
            <p>
                I was born and raised in Grand Rapids, but I currently live in Denver, Colorado.
                <br>
                I'm currently working for <a href="https://www.crowe.com/">Crowe</a> as a Software Engineer.
            </p>
            <p>
                I graduated from Michigan State University in 2022 with a Bachelor of Science in Computer Science and
                Engineering and a minor in Entrepreneurship and Innovation.
            </p>
            <p>
                During my time at MSU, I was a proud member of the Spartan Marching Band's trumpet section, placing as
                high as fifth chair out of 60.
                <br>
                I've played trumpet for over 10 years, performed for over a <a
                    href="https://youtu.be/T8aoHdcA9p8?si=R00_DdecOHIjNKth">hundred thousand people</a> across seven
                states and <a href="https://youtu.be/481vEzfUyYA?si=YcsIiraE8zBoz-X8">three countries!</a>
            </p>
            <p>
                These days, I keep that passion going by learning guitar, collecting vinyl, and diving into anything
                with
                great tone and rhythm - Cory Wong is a longtime favorite musician of mine.
            </p>
            <p>
                Outside of work, you'll usually find me on a golf course, hiking, or cycling around town.
            </p>
            <p>
                I also spend plenty of time with my dog, Jedha, who never gets tired of playing fetch and keeps life
                fun.
            </p>
            <p>
                I'm always looking for new challenges and opportunities to grow as a developer, musician, and person.
                Feel free to connect with me!
            </p>
        </mat-card-content>
    </mat-card>
</div>