<header>
    <h1>Evan Alexander</h1>
    <ng-container *ngFor="let page of pages | keyvalue">
        <button mat-button (click)="onNavButtonClick(page.key)">
            {{ page.value.display }}
        </button>
    </ng-container>
</header>
<p>Body Test</p>
<home-component *ngIf="homeActive" [active]="homeActive">
    Test123
</home-component>
<!-- <about-me-component *ngIf="aboutMeActive" [active]="aboutMeActive">

</about-me-component>
<resume-component *ngIf="resumeActive" [active]="resumeActive">

</resume-component>
<projects-component *ngIf="projectsActive" [active]="projectsActive">

</projects-component> -->
