:root {
  --blackish: #222;
  --whiteish: #e5e5e5;
  --red:  #ff5e56;
  --yellow: #ffbd2e;
  --green: #27c93f;
}

#all-content {
    background-color: #4B0082;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-image: url('../assets/background.jpg');
    background-size: 300px;
    animation: movingBackground 5s linear infinite;
}
#all-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 0, 26, 0.9);
    z-index: 1;
}

#body {
    font-family: Arial, sans-serif;
    padding: 50px 200px 50px 200px;
    color: #333;
    height: 100vh;
    justify-content: center;
    display: inline-flex;
    overflow-x: hidden;
}
header {
    color: white;
    text-align: center;
    display: inline-flex;
    width: 100%;
    padding-top: 50px;

    button {
        color: white;
        padding-left: 30px;
        padding-right: 30px;
    }
}
#nav-container {
    padding-left: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

@keyframes movingBackground {
    from { background-position: 0 0;}
    to { background-position: 300px 300px; }
}