<div id="all-content">
    <header>
        <div id="nav-container">
            <ng-container *ngFor="let page of pages | keyvalue: keepOrder">
                <button mat-button (click)="onNavButtonClick(page.key)">
                    {{ page.value.display }}
                </button>
            </ng-container>
        </div>
    </header>
    <div id="body">
        <home-component *ngIf="pages['home'].status">
        </home-component>
        <about-component *ngIf="pages['about'].status">
            About Test
        </about-component>
        <resume-component *ngIf="pages['resume'].status">
            Resume Test
        </resume-component>
        <projects-component *ngIf="pages['projects'].status">
            Projects Test
        </projects-component>
    </div>
</div>
