:root {
  --blackish: #222;
  --whiteish: #e5e5e5;
  --red:  #ff5e56;
  --yellow: #ffbd2e;
  --green: #27c93f;
}

#all-content {
    position: relative;
    background-color: #4B0082;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 90px;
    overflow-x: hidden;

    background-image: url('../assets/background.jpg');
    background-size: 300px;
    animation: movingBackground 5s linear infinite;
}

#all-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: rgba(16, 7, 22, 0.9);
    z-index: 1;
    pointer-events: none;
}

header {
    position: relative;
    z-index: 2;
    text-align: center;
    display: inline-flex;
    width: 100%;
    padding-top: 50px;

    button {
        background-color: rgb(52, 33, 73);
        border-radius: 15px;
        border: 1px solid rgb(41, 13, 73);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 44px;
        min-width: 88px;
        padding: 12px 20px;
        line-height: 1.25;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
        color: rgb(212, 211, 211, 0.986);

        &.nav-active {
            border-color: var(--green);
            box-shadow: 0 0 8px rgba(39, 201, 63, 0.45);
        }
    }
}
#nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#body {
    position: relative;
    z-index: 2;
    flex: 1;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(52, 33, 73);
    display: flex;
    height: 75px;
    z-index: 10;
    align-items: center;
    justify-content: center;

    #social-links {
        a {
            margin: 5px 5px 5px;
            color: rgb(212, 211, 211, 0.986);
        }
    }
}

@keyframes movingBackground {
    from { background-position: 0 0;}
    to { background-position: 300px 300px; }
}