:root {
  --blackish: #222;
  --whiteish: #e5e5e5;
  --red:  #ff5e56;
  --yellow: #ffbd2e;
  --green: #27c93f;
}

#all-content {
    background-color: #4B0082;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-bottom: 150px;
    overflow: auto;

    background-image: url('../assets/background.jpg');
    background-size: 300px;
    animation: movingBackground 5s linear infinite;
}

#all-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 7, 22, 0.9);
    z-index: 1;
}

header {
    text-align: center;
    display: inline-flex;
    width: 100%;
    padding-top: 50px;

    button {
        background-color: rgb(52, 33, 73);
        border-radius: 15px;
        border: 1px solidrgb(41, 13, 73);
        box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
        color: rgb(212, 211, 211, 0.986);
        padding: 5px 15px 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
#nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#body {
    height: 100%;
}

#footer {
    position: relative;
    background-color: rgb(52, 33, 73);
    display: flex;
    height: 75px;
    margin-top: -75px;
    clear: both;
    z-index: 2;
    align-items: center;
    justify-content: center;

    #social-links {
        a {
            margin: 5px 5px 5px;
            color: rgb(212, 211, 211, 0.986);
        }
    }
}

@keyframes movingBackground {
    from { background-position: 0 0;}
    to { background-position: 300px 300px; }
}