<div id="all-content">
    <header>
        <div id="nav-container">
            <ng-container *ngFor="let page of pages | keyvalue: keepOrder">
                <button mat-button (click)="onNavButtonClick(page.key)">
                    {{ page.value.display }}
                </button>
            </ng-container>
        </div>
    </header>
    <div id="body">
        <home-component *ngIf="pages['home'].status">
        </home-component>
        <about-component *ngIf="pages['about'].status">
            About Test
        </about-component>
        <resume-component *ngIf="pages['resume'].status">
            Resume Test
        </resume-component>
        <projects-component *ngIf="pages['projects'].status">
            Projects Test
        </projects-component>
    </div>
</div>
<div id="footer">
    <div id="social-links">
        <a href="https://www.linkedin.com/in/evan-a-23b60810b/" title="Evan's LinkedIn">
            <fa-icon [icon]="faLinkedin" size="2x">LinkedIn</fa-icon>
        </a>
        <a href="https://github.com/evanalexander012/" title="Evan's Github">
            <fa-icon [icon]="faGithub" size="2x">Github</fa-icon>
        </a>
        <a href="mailto:evanalexander012@gmail.com" title="Evan's Email">
            <fa-icon [icon]="faEnvelope" size="2x">Gmail</fa-icon>
        </a>
    </div>
</div>
