<div id="home-content">
    <mat-card appearance="outlined" id="content-card">
        <mat-card-content>
            <div id="columns">
                <div id="column-left">
                    <img src="assets/me.jpg">
                </div>
                <div id="column-right">
                    <mat-list>
                        <mat-list-item>
                            <h1>Evan Alexander</h1>
                        </mat-list-item>
                        <mat-list-item>
                            <div id="social-links">
                                <a href="https://www.linkedin.com/in/evan-a-23b60810b/" title="Evan's LinkedIn">
                                    <fa-icon [icon]="faLinkedin" size="2x">LinkedIn</fa-icon>
                                </a>
                                <a href="https://github.com/evanalexander012/" title="Evan's Github">
                                    <fa-icon [icon]="faGithub" size = "2x">Github</fa-icon>
                                </a>
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div id="description">Software Engineer, Musician, Adventurer</div>
                        </mat-list-item>
                    </mat-list>                
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>