<div id="resume-content">
    <mat-card appearance="outlined" id="content-card">
        <mat-card-content id="content">
            <div class="education">
                <h2>Education</h2>
                <h3>Michigan State University, East Lansing, MI<br><br>BS Computer Science (September 2017 - December 2022)</h3>
            </div>

            <div class="experience">
                <h2>Experience</h2>
                <h3>Crowe (Remote) - Product Engineer II (June 2022 - Present)</h3>
                <ul>
                    <li>Full Stack Development using an Angular frontend and C# backend</li>
                    <li>Improving and creating CI/CD pipelines</li>
                    <li>Working on a team of four developers using Agile Scrum workflow</li>
                    <li>Frequently collaborating with other developmental teams</li>
                </ul>
                <h3>Crowe (Remote) - Product Engineering Intern (June 2020 - June 2022)</h3>
                <ul>
                    <li>Learned Agile Scrum practices in a professional setting</li>
                    <li>Began developmental work using Angular and C# for the first time</li>
                    <li>Created a Python web scraper to grab tax due dates by state</li>
                </ul>
                <h3>Spartan Marching Band (East Lansing, MI) - Squad Leader (Jan 2019 - June 2022)</h3>
                <ul>
                    <li>Instructed peers through drill and music on and off the field</li>
                    <li>Guided freshmen in transitioning from high school to college life</li>
                    <li>Collaborated with the director to enhance band operations and efficiency</li>
                </ul>
            </div>

            <div class="skills">
                <h2>Skills</h2>
                <h3>Angular, C#, ASP.NET, SQL, Python, Linux, Raspbian</h3>
            </div>

            <div class="projects">
                <h2>Projects</h2>
                <h3> Personal Website - The website you're currently viewing!</h3>
            </div>

            <div class="certifications">
                <h2>Certifications</h2>
                <h3>Professional Scrum Master (PSM 1) - Scrum.org (January 2023)</h3>
            </div>
        </mat-card-content>
    </mat-card>

</div>