<div id="home-content">
    <mat-card appearance="outlined" id="content-card">
        <mat-card-content>
            <div id="columns">
                <div id="column-left">
                    <img src="assets/me.jpg">
                </div>
                <div id="column-right">
                    <mat-list>
                        <mat-list-item>
                            <h1>Evan Alexander</h1>
                        </mat-list-item>
                        <mat-list-item>
                            <div id="description">Software Engineer, Musician, Adventurer</div>
                        </mat-list-item>
                    </mat-list>                
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>